{% load staticfiles %}
<html>
<body bgcolor="#b0c4de">
<p style="float: left ;"><img src="{% static "images/IMG_20190206_131643216.jpg" %}" width="180"></p>
    <p style="float: right;"><img src="{% static "images/download (1).png" %}" width="" height="200"></p>
<marquee><h1 style="color: white">Dr.K.k.r Gowtham school</h1></marquee>

<table >
    <tr>
        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "index1" %}">Home</a></h4></button>
        </td>

        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "index3" %}">About</a></h4></button>
        </td>
        <td>
        <button type="submit"><h4 style="width: 316px"><a href="{% url "index4" %}">Informactions</a></h4></button>
        </td>
        <td>
        <form action="{% url "logout" %}">
            <td><button type="submit"><h4 style="width: 316px">Logout</h4></button></td>
        </form>


    </tr>
</table>
<br>
<br>
<br>
<form>
    <table>
        <tr>
            <td>
                <a href="{% url "Det" %}"><h1 style="background: brown">Quection Posted</h1></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url "all" %}"><h1 style="color: red;background: black">Teacher Answer</h1></a>
            </td>
        </tr>
        <tr>
            <td><a href="{% url "Radha1" %}"><h1 style="color: red;background: white">Student Quection Deleted</h1></a></td>
        </tr>
    </table>
    <table>
     <tr><td><input type="button" value="Go Back!" onclick="history.back()" ></td></tr>
    </table>

</form>

</body>
</html>
<html>
<head>
